# Python Assignment - 1

### Total - 30 marks

## Variables and data types

__Exercise 1 a)__ Create four variables and assign values with different data types to them

In [1]:
#int, float, String, boolean

In [2]:
a = 1
print(a)

1

In [3]:
b = 5.5
print(b)

5.5

In [4]:
c = "hello world"
print(c)

hello world

In [5]:
d = True
print(d)

True

__Exercise 1 b)__ Print the variables using Python's built-in function print(_String_)

In [6]:
fav = "data science"
print("I like " + fav + " course very much")

I like data science course very much

In [7]:
lang = "python"
print("the " + lang + " programming is easy to use")

the python programming is easy to use

In [8]:
i = "30"
print("Siri is " + i + "yrs older than Alice")

Siri is 30yrs older than Alice

In [9]:
p = "5"
print("Mike give " + p + " gems to Robert")

Mike give 5 gems to Robert

__Exercise 1 c)__ Print the data type of each variable using Python's built-in function type()

In [10]:
print(type(a))

<class 'int'>

In [11]:
print(type (b))

<class 'float'>

In [12]:
print(type(c))

<class 'str'>

In [13]:
print(type(d))

<class 'bool'>

__Exercise 2__ How do we use variables? Explore with arithmetic operators (+, -, *, /)!

In [14]:
# Example
first_value = 3
second_value = 5

result = first_value + second_value
print(result)

8

In [15]:
third_value = 4
fourth_value = 5

result = third_value + fourth_value
print(result)

9

In [16]:
fifth_value = 6
sixth_value = 7

result = fifth_value - sixth_value
print(result)

-1

In [17]:
seventh_value = 8
Eight_value = 9

result = seventh_value * Eight_value
print(result)

72

In [18]:
ninth_value = 10
tenth_value = 11

result = ninth_value / tenth_value
print(result)

0.9090909090909091

## Example: Lists

In [19]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'mango', 'grapes']

In [20]:
fruits[0]

'orange'

In [21]:
fruits[1]

'apple'

In [22]:
fruits[-1]

'grapes'

We can also specify a range of indexes specifying where to start and end the range

In [23]:
fruits[2:5]

['pear', 'banana', 'kiwi']

In [24]:
fruits[2:]

['pear', 'banana', 'kiwi', 'mango', 'grapes']

In [25]:
fruits[:2]

['orange', 'apple']

__Exercise 3 a)__ Create a list with names of your friends and print the name of the first, second and last person

In [26]:
friends = ['vansh','ritik','sameer','vishal','karan','ajay']

In [27]:
friends [0]

'vansh'

In [28]:
friends [1]

'ritik'

In [29]:
friends [5]

'ajay'

__Exercise 3 b)__ Print your list of names using different ranges

In [30]:
friends = ['vansh', 'ritik', 'sameer', 'vishal', 'karan', 'ajay']
print(friends)

['vansh', 'ritik', 'sameer', 'vishal', 'karan', 'ajay']

__Exercise 4 a)__ Count how many names you have added to the list using len(_[...]_)

In [31]:
len(['vansh', 'ritik', 'sameer', 'vishal', 'karan', 'ajay'])

6

__Exercise 4 b)__ Add a new name to your list using append(_item_)

In [32]:
friends.append('arun')
print(friends)

['vansh', 'ritik', 'sameer', 'vishal', 'karan', 'ajay', 'arun']

__Exercise 4 c)__ Print the list. Does it look as expected?

In [33]:
print(friends)

['vansh', 'ritik', 'sameer', 'vishal', 'karan', 'ajay', 'arun']

__Exercise 4 d)__ Add a new name on the _third_ position in your list using insert(_position_, _item_)

In [34]:
friends.insert(3, 'vicky')

__Exercise 4 e)__ Print the list. Does it look as expected?

In [35]:
print(friends)

['vansh', 'ritik', 'sameer', 'vicky', 'vishal', 'karan', 'ajay', 'arun']

__Exercise 4 f)__ Remove a name from the list using remove(_item_)

In [36]:
friends.remove("arun")

__Exercise 4 g)__ Print the list. Does it look as expected?

In [37]:
print(friends)

['vansh', 'ritik', 'sameer', 'vicky', 'vishal', 'karan', 'ajay']

# Example: For loops

In [38]:
for fruit in fruits:
    print(fruit)

orange
apple
pear
banana
kiwi
mango
grapes

In [39]:
for fruit in fruits:
    fruit = fruit + 's'
    print(fruit)

oranges
apples
pears
bananas
kiwis
mangos
grapess

__Exercise 5 a)__ Print each name in your list of names

In [40]:
for friend in friends: 
    print(friend)

vansh
ritik
sameer
vicky
vishal
karan
ajay

__Exercise 5 b)__ Add a small change to each name in your list

In [41]:
for friend in friends:
    friend = friend + 's'
    print(friend)

vanshs
ritiks
sameers
vickys
vishals
karans
ajays

# Example: Dictionaries

In [42]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}

In [43]:
capital = countries["sweden"]
print(capital)

stockholm

__Exercise 6 a)__ Get the capital of Denmark and Norway using the dictionary _countries_

In [44]:
capital1 = countries["denmark"]
capital2 = countries["norway"]
print(capital1)
print(capital2)

copenhagen
oslo

__Exercise 6 b)__ Add a new key-value pair to the dictionary _countries_

In [45]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo", "India" : "Delhi"}

__Exercise 6 c)__ Print the dictionary. Does it look as expected?

In [46]:
print(countries)

{'sweden': 'stockholm', 'denmark': 'copenhagen', 'norway': 'oslo', 'India': 'Delhi'}

__Exercise 6 d)__ Update Sweden's capital to Malmo

In [47]:
countries

{'sweden': 'stockholm',
 'denmark': 'copenhagen',
 'norway': 'oslo',
 'India': 'Delhi'}

In [48]:
countries = {"sweden" : "Malmo", "denmark" : "copenhagen", "norway" : "oslo", "India" : "Delhi"}

In [49]:
capital = countries["sweden"]
print(capital)

Malmo

In [50]:
countries

{'sweden': 'Malmo',
 'denmark': 'copenhagen',
 'norway': 'oslo',
 'India': 'Delhi'}

__Exercise 6 e)__ Print the dictionary. Does it look as expected?

__Exercise 6 f)__ Remove the key-value pair Sweden-Stockholm from the dictionary

In [51]:
countries = {"sweden" : "Malmo", "denmark" : "copenhagen", "norway" : "oslo", "India" : "Delhi"}
countries.pop("sweden")

'Malmo'

__Exercise 6 g)__ Print the dictionary. Does it look as expected?

In [52]:
print(countries)

{'denmark': 'copenhagen', 'norway': 'oslo', 'India': 'Delhi'}

__Exercise 6 g)__ Print each key-value pair in the dictionary countries

In [53]:
for key, value in countries.items():
    print(f"Country: {key}, Capital: {value}")

Country: denmark, Capital: copenhagen
Country: norway, Capital: oslo
Country: India, Capital: Delhi

# Example: Functions

In [54]:
def function_name(param1, param2):
    # Block of code

SyntaxError: incomplete input (1346842193.py, line 2)

We will start with creating a function that can add two numbers.

In [ ]:
def add_two_numbers(number1, number2):
    result = number1 + number2
    return result

Let's try to use it!

In [ ]:
add_two_numbers(1,2)

In [ ]:
add_two_numbers(5,20)

__Exercise 7 a)__ Create a function that can calculate the difference between two numbers

In [55]:
def diff_two_numbers(num8, num5):
    print("number 1:", num8)
    print("number 2:", num5)
    diff_btw_num = num8 - num5
    return print('Difference between two numbers is :', diff_btw_num)

__Exercise 7 b)__ Use the function. Does it return the expected results?

In [56]:
diff_two_numbers(8,5)

number 1: 8
number 2: 5
Difference between two numbers is : 3

In [57]:
def diff_two_numbers(num8, num5):
    result = num8 - num5
    return result

In [58]:
diff_two_numbers(8,5)

3

__Exercise 7 c)__ Create a function that can multiply two numbers

In [59]:
def multi_two_num(num2, num4):
    print("Number 1 :", num2)
    print("Number 2 :", num4)
    multiply_two_num = num2 * num4
    return print('Multiplication of two numbers is :', multiply_two_num)

__Exercise 7 d)__ Use the function. Does it return the expected results?

In [60]:
multi_two_num(2,4)

Number 1 : 2
Number 2 : 4
Multiplication of two numbers is : 8

__Exercise 7 e)__ Create a function that can divide two numbers

In [61]:
def div_two_numbers(number10, number2):
    print("num 1 :", number10)
    print("num 2 :", number2)
    div_by = number10 / number2
    return print('final result is :', div_by)

__Exercise 7 f)__ Use the function. Does it return the expected results?

In [62]:
div_two_numbers(10,2)

num 1 : 10
num 2 : 2
final result is : 5.0